# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Testing
coverage/

# Misc
*.tsbuildinfo
